@import "@/styles/_variables.scss";

.item {
  padding: 0.6rem;
  display: flex;
  border-top: 1px solid $input-highlight-color;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &:hover {
    background: $hover-background-color;
  }

  .label {
    display: none;
  }
}

.item:nth-child(even) {
  background-color: #f5f5f5;
}

@media screen and (max-width: 600px) {
  .item {
    border-radius: 8px;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
    background-color: $hover-background-color;

    .label {
      display: flex;
      font-weight: 700;
      width: 50%;
    }

    .value {
      width: 100%;
    }
  }

  .item:last-child {
    margin: 0;
  }

  .itemDetail {
    width: 100% !important;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: flex-start;
    padding: 0.6rem;
    width: auto;
    gap: 10px;
  }

  .itemDetail:last-child {
    border-bottom: 0;
  }
}
