@import "@/styles/_variables.scss";

.input {
  border: none;
}

.innerInput {
  padding: 0.8rem;
  border: 0.0625rem solid $input-highlight-color;
  color: black;
  border-radius: 4px;
  &:focus {
    border: 0.0625rem solid black;
  }

  &::placeholder {
    color: $input-highlight-color;
  }
}

.label {
  font-weight: normal;
}
