@import "@/styles/_variables.scss";

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 40rem;

  .input,
  .classNameBox {
    min-width: 26rem;
  }

  .btn {
    min-width: 26rem;
  }
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .inputContainer {
    display: block;
    align-items: center;

    .input {
      min-width: 100%;
    }

    .btn {
      min-width: 100%;
    }
  }
}
