@import "@/styles/_variables.scss";

.item {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  &:hover {
    // TODO: Change to theme color
    background: $hover-background-color;
  }
}

.btnIcon {
  background: none;
  &:hover {
    // TODO: Change to theme color
    background: $hover-background-color;
  }
}
