$main-color: #263964;
$hight-light-color: #e8741c;
$input-highlight-color: #ced4da;
$hover-background-color: #f8f9fa;
$navbar-active-background-color: #f1f3f5;
$pending-status-color: #e8741c;
$confirmed-status-color: green;
$cancelled-status-color: red;
