.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.input {
  min-width: 20vw;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
  }
}
