.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
  }
}

.label {
  font-weight: 600;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
  }
}
