@import "@/styles/_variables.scss";

.tableWrapper {
  border: 1px solid $input-highlight-color;
}

.header {
  display: grid;
  background-color: $main-color;
  padding: 1rem 0.6rem;
  align-items: center;
  color: white;
  gap: 10px;

  &:hover {
    background: $main-color !important;
  }
}

.row {
  padding: 0.6rem;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #ddd;

  &:hover {
    background: $hover-background-color;
  }
}

.label {
  display: none;
}

.cell {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: left;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .tableWrapper {
    border: none;
  }

  .header {
    display: none;
  }

  .row {
    border-radius: 8px;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
    background-color: $hover-background-color;
  }

  .label {
    display: flex;
    font-weight: 700;
  }

  .row:last-child {
    margin: 0;
  }

  .cell {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
  }

  .cell:last-child {
    border-bottom: 0;
  }

  .tableWrapper {
    border: none;
  }
}
