@import "@/styles/_variables.scss";

.item {
  padding: 1rem 1rem;
  display: flex;
  gap: 1rem;

  &:hover {
    background: $hover-background-color;
  }
}

.active {
  padding: 1rem 1rem;
  display: flex;
  gap: 1rem;
  background: $navbar-active-background-color;
}
