@import "@/styles/_variables.scss";

.item {
  padding: 1.2rem;
  display: flex;

  &:hover {
    background: $hover-background-color;
    cursor: pointer;
  }
}

.active {
  padding: 1.2rem;
  display: flex;
  background: $navbar-active-background-color;

  &:hover {
    background: $navbar-active-background-color;
    cursor: pointer;
  }
}
